new-session -dA -s "config" -n "shell" -c "~"
new-window -S -n "nvim config" -c "~/.config/nvim/"; send-keys "fish && nvim -c NvimTreeFocus"

# new-window -S -b -t "config:0" -n "fish config" -c "~/.config/fish/" "fish && nvim -c NvimTreeFocus"
# new-window -S -b -t "config:0" -n "tmux config" -c "~/.config/tmux/" "fish && nvim tmux.conf"
